[UBUNTU_HOST_VERSION]
ubuntu_image=20.04
ubuntu_download_url=https://cdimage.ubuntu.com/ubuntu-server/focal/daily-preinstalled/current/focal-preinstalled-server-arm64+raspi.img.xz

[KUBERNETES-VERSION]
k8s_version=1.26.0

[WI-FI]
ssid_name="<YOUR_SSID_NAME>"
ssid_password="<YOUR_SSID_PASSWORD>"
gateway_ip=192.168.178.1

[MASTER-NODE]
master=192.168.178.2

[WORKER-NODES]
worker1=192.168.178.3
worker2=192.168.178.4
